.login {
  
    .auth-background {
      background-repeat: no-repeat;
      background-image: url(../../../assets/night.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .form-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 5px;
      border: 1px solid white;
      height: 80vh;  
   
  
      display: flex;
      flex-direction: column;
       align-items: center;
      .logo-title{
        width: 20vw;
        margin-bottom: 2vh;
      }
  
      .login-form{
   
      height: 70vh;
      width: 25.5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  
      .seprator{
        display: flex;
        align-items: center;
        .seprator-left{
          border-bottom: 1px solid white;
          width: 5.3vw;
          
        }
        .seprator-text{
        color: white;
        margin: 0px 6px 0px 6px;
        }
        .seprator-right{
          border-bottom: 1px solid white;
          width: 5.3vw;
        }
     }
  
  .remember-me-forgot{
    display: flex;
   
    width: 21.1vw;
    justify-content: space-between;
    color: white;
    margin: 10px 0px 10px 0px;
     :hover{
      color: #aa9100;
      cursor: pointer;
     }
  }
  .bottom-buttons{
    display: flex;
    border:2px solid red ;
    justify-content: space-between;
    width: 25vw;
  }
  
      }
      .p-inputtext{
        width: 25vw;
        background: none;
        color: white;
      }
      
      .p-float-label > label{
        color: white;     
      }
  
      .p-input-icon-right > i:last-of-type {
         color: white;
    }
      .p-error{
        font-size: medium;
        font-weight: bold;
      }
  
      .p-button{
        background-color: #aa9100;
        border: 1px solid white;
        width: 11vw;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: medium;
      }
      
     
    }
  }
  
  
   