<div class="login">
    <div class="auth-background"></div>
  
    <div class="toaster">
      <p-toast></p-toast>
  
   
    </div>

    <div class="form-container">
      <div ><img class="logo-title" src="../../../assets/logo_rcu.png" /></div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
        <div class="mt-5 br-5">
          <span class="p-float-label">
            <input id="float-input"   type="text" pInputText formControlName="email" [ngClass]="{'ng-invalid ng-dirty':f['email']?.invalid && (f['email'].dirty || f['email'].touched)}" > 
            <label>Email</label>
        </span>
          <div *ngIf="f['email']?.invalid && (f['email'].dirty || f['email'].touched)">
            <small *ngIf="true" id="username2-help" class="p-error block">Email is required.</small>
          </div>
        </div>
  
        

       
  <div class="bottom-buttons">

    <button type="submit" pButton routerLink="/login" class="cancel-button">CANCEL</button>
    <button type="submit" pButton >RESET</button>

  </div> 
   
     
      </form>
  
    </div>
  
  
  </div>